@{
    ViewData["Title"] = "Animals";
}

@model IEnumerable<CretaceousClient.Models.Animal>

<h1>All Cretaceous Animals</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name or species: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Name)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["SpeciesSortParm"]">@Html.DisplayNameFor(model => model.Species)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["SubSpeciesSortParm"]">@Html.DisplayNameFor(model => model.SubSpecies)</a>
                </th>                
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["AgeSortParm"]">@Html.DisplayNameFor(model => model.Age)</a>
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var animal in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelAnimal => animal.Name)
            </td>
            <td>
                @Html.DisplayFor(modelAnimal => animal.Species)
            </td>
            <td>
                @Html.DisplayFor(modelAnimal => animal.SubSpecies)
            </td>
              <td>
                @Html.DisplayFor(modelAnimal => animal.Age)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@animal.AnimalId">Edit</a> |
                <a asp-action="Details" asp-route-id="@animal.AnimalId">Details</a> |
                <a asp-action="Delete" asp-route-id="@animal.AnimalId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>